body {
    background-color: #151038;
}

h1 {
    text-align: center;
    color: bisque;
}

.owl {
    font-family: fantasy;
  }

.secret {
    opacity: 0.5;
  }
  
ul {
    list-style-type: none;
    color: wheat;
  }
  
table {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
  }
  
th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    color: wheat;
  }
  
.centered {
    margin: 0 auto;
  }

.cabbage {
    color: chartreuse;
  }
  
  