body {
    background-color: #2c5554;
}

h1 {
    text-align: center;
    color: bisque;
    font-family: fantasy;
    font-size: 40px;
  }

h2 {
  color: aliceblue;
font-family: 'Courier New', Courier, monospace;  
font-size: 20px;
}

h3 {
  color: aliceblue;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
  color: rgb(14, 228, 85);
  font-family: 'Courier New', Courier, monospace;
}
.owl {
    font-family: fantasy;
  }

.secret {
    opacity: 0.5;
  }
  
ul {
    list-style-type: none;
    color: wheat;
  }
  
table {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    margin: 0 auto;
  }
  
th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.centered {
    margin: 0 auto;
  }

/* .cabbage {
    color: chartreuse;
  }
   */
  