body {
    background-color: #151038;
}

h1 {
    text-align: center;
    color: bisque;
}

.owl {
    font-family: fantasy;
  }

.secret {
    opacity: 0.5;
  }
  
ul {
    list-style-type: none;
  }
  
  